body{
	background-color: #0d1f69;
}

.container {
	display: grid;
	grid-template-columns: auto auto;
	grid-template-rows: 500px 500px;
	grid-gap: 50px;
	padding: 10px;
	height: 500px;
}

.e {
	background-color: #fff;
}

.f {
	background-color: #fff;
}

.nairaCol {
	color: #E75480;
	text-align: center;
}

.dollarCol {
	color: #000000;
	text-align: center;
}

button {
	color: #0d1f69;
}